/* GALLERY STYLES */

a {
	font-family: arial;
	font-size: 9pt;
	text-decoration: underline;
	color: #ffffff;
}

a:hover {
	font-family: arial;
	font-size: 9pt;
	text-decoration: underline;
	color: #ffffff;
}

body {
	background-color: #203a89;
}